* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  font-family: "jua", italic;
  text-align: center;
  margin: 3rem 0;
  background: url(./src/assets/img/store-bg-opacity.webp) center/cover no-repeat;
  /* background-color: #E73F12; */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ffc5b5;
  padding: 2rem;
  border-radius: 10px;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.heading {
  padding: 2rem 0;
}

.instruction-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 2rem;
  padding: 3rem 0;
  background-color: #fff3ec;
  border-radius: 10px;
  color: black;
}

.instruction-flex p {
  font-size: 20px;
}

.inner-flex {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 2rem;
}

.point-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.bonus {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
}

.bonus-main {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffc5b5;
}

.bonus-main .point-flex img {
  width: 150px;
}

.top-logo {
  width: 200px;
}

.point-flex img {
  width: 80px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

.button a {
  background-color: #e73f12;
  padding: 1.5rem;
  width: 30%;
  text-decoration: none;
  color: white;
  font-size: 26px;
  border-radius: 10px;
}

.instruction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
